*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header .nav-item:hover {
    opacity: .5!important;
}

nav>ul>li {
    padding-right:1rem;
}

.carousel-item img {
    height:600px;
    filter: brightness(30%);
}

.sombra:hover {
    box-shadow: 10px 10px 20px gray;
}

.nombre-orador {
    font-weight: bold;
    font-size: 1.5rem;
    display: block;
    margin-top: .5rem;
}

.card-body button {
    font-size: .75rem;
    font-weight: bold;
    padding: 0rem .3rem;
}

.subrayado-punteado {
    border-bottom: 1px dotted;
}

.color-manzana {
    background-color: yellowgreen!important;
}

footer{
    background-image: linear-gradient(to right,rgba(28,54,67,1),rgba(29,82,113,1))!important;
}

footer a:hover{
    opacity: .5;
}